<div class="wrapper">
  <div style="width: 100%; font-size: 12px;">

    <p>{{this.dataInicioDate}}</p>
    <p>{{this.dataFimDate}}</p>
    <p>Quantidade Dias: <input type="text" [(ngModel)]="nqtdias"></p>
    <p>Quantidade Colunas: {{this.nQtdColunasCalendario}}</p>
    <p>
      <button (click)="montacalendario(1,nqtdias)">Mes</button>
      <button (click)="montacalendario(2,nqtdias)">Semana</button>
      <button (click)="montacalendario(3,nqtdias)">Dia</button>
    </p>
  </div>
  <div class="gantt">


    <div class="gantt__row gantt__row--years"
      [ngStyle]="{gridTemplateColumns: '120px repeat('+this.calendarGant.length+', 1fr )' }">


      <div class="gantt__row-first">
        Atividade
      </div>


      <span *ngFor="let anos of calendarGant; index as i">
        <span>{{anos.ano}}</span>

        <div *ngIf="gantViewActive >= 1" class="gantt__row"
          [ngStyle]="{gridTemplateColumns: ' repeat('+anos.meses.length+',1fr )' }">
          <span *ngFor="let meses of anos.meses; index as ib">
            <span>{{meses.mesNome}} </span>


            <div *ngIf="gantViewActive >= 2" class="gantt__row"
              [ngStyle]="{gridTemplateColumns: 'repeat('+meses.semanas.length+', 1fr )' }">

              <span *ngFor="let semanas of meses.semanas; index as id">
                <span style="padding: 0px 2px;">
                  <p>{{semanas.semana}}</p>
                </span>

                <div *ngIf="gantViewActive >= 3" class="gantt__row"
                  [ngStyle]="{gridTemplateColumns: 'repeat('+semanas.dias.length+', 50px )'  }">
                  <span *ngFor="let dia of semanas.dias; index as ic">
                    <p style="text-transform: uppercase; font-size: 10px;">
                      {{dia.diaSemanaDesc}} </p>
                    <p>{{dia.dia}} </p>

                  </span>
                </div>
              </span>
            </div>



          </span>
        </div>
      </span>

    </div>

    <div class="gantt__row">
      <div class="gantt__row-first">
        ATIVIDADE 01
      </div>
      <div  class="gantt__row-bars" [ngStyle]="{gridTemplateColumns: 'repeat('+this.nQtdColunasCalendario+', 50px )'   }">
        <span style="background-color: #55de84; border-radius: 5px; "
          [ngStyle]="{gridColumn:   '1/10' }"></span>
      </div>

      <!-- <ul class="gantt__row-bars" [ngStyle]="{gridTemplateColumns: 'repeat('+this.nQtdColunasCalendario+', 50px )'   }">
        <li style="background-color: #2e77ca;" [ngStyle]="{gridColumn:   '1/10' }"></li>

      </ul> -->
    </div>

    <div class="gantt__row">
      <div class="gantt__row-first">
        ATIVIDADE 02
      </div>
      <ul class="gantt__row-bars" [ngStyle]="{gridTemplateColumns: 'repeat('+this.nQtdColunasCalendario+', 50px )'   }">
        <li style="background-color: #2e77ca;" [ngStyle]="{gridColumn:   '1/6'  }"></li>

      </ul>
    </div>


  </div>
</div>